-i https://pypi.org/simple
flask==3.1.2
prometheus-flask-exporter==0.23.2
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
