-i https://pypi.org/simple
flask==3.1.0
prometheus-flask-exporter==0.23.1
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
