<!doctype html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta charset="utf-8" />
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <title>Object to Text</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body class="container-fluid" itemscope itemtype="https://schema.org/WebPage">
  <div class="container-fluid">
  <form action="" method="post" enctype="multipart/form-data">
    <div class="modal-body">
    <div class="form-group">
      <label for="url">Enter URL: </label>
      <input id="url" type="text" class="form-control" name="url" x-webkit-speech="x-webkit-speech" value="${(typeof d.url === 'undefined') ? '' : d.url}" placerholder="Object URL" />
    </div>
    <div class="custom-file">
      <label class="custom-file-label" for="doc"><small>(or)</small> Upload File:</label>
      <input type="file" class="custom-file-input" id="doc" name="doc" />
    </div>
    </div>
    <div class="modal-body">
    <textarea x-webkit-speech="x-webkit-speech" disabled="disabled" id="text" name="text" class="form-control" aria-label="With textarea" rows="20">${(typeof d.text === 'undefined') ? '' : d.text }</textarea>
    </div>
    <div class="modal-footer">
    <select class="custom-select" id="voiceselection"></select>
    <button type="button" class="btn btn-dark" id="read">Read</button>
    <button type="button" class="btn btn-secondary" onclick="$('#resume').toggle();" id="pause">Pause</button>
    <button type="button" class="btn btn-success" onclick="$('#resume').toggle();" id="resume" style="display: none;">Resume</button>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
      $(() => {
        if ('speechSynthesis' in window) {
          let synth   = window.speechSynthesis;
          let voices  = synth.getVoices();
          let msg     = new SpeechSynthesisUtterance();
          synth.cancel();
          synth.onvoiceschanged = () => {
            let voicelist = $('#voiceselection');
            if (voicelist.find('option').length == 0) {
              voices.forEach((voice, index) => {
              let option = $('<option>').val(index).html(voice.name + ' (' + voice.lang + ' )' + (voice.default ? ' (default)' : ''));
              voicelist.append(option);
              });
              voicelist.find(":selected").val();
            }
          }
          $('#read').click(() => {
            synth.cancel();
            msg.voice   = voices[$('#voiceselection').val()];
            msg.rate    = 10/10;
            msg.pitch   = 1;
            msg.text    = $('#text').val();
            msg.onpause = (e) => {
              console.log('Speech paused after ' + e.elapsedTime + ' milliseconds.');
            }
            msg.onresume = (e) => {
              console.log('Speech resumed after ' + e.elapsedTime + ' milliseconds.');
            }
            msg.onend = (e) => {
              console.log('Speech finished after ' + e.elapsedTime + ' milliseconds.');
            };
            synth.speak(msg);
          });
          $('#pause').click(() => {
            synth.pause();
            msg.paused = true;
          });
          $('#resume').click(() => {
            synth.resume();
          });
        }
      });
    });
  </script>
</body>
</html>